:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  line-height: 1;
}



#app {
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

@media ( max-width: 768px ) {
  #app {
    padding:10px;
  }
  h1 {
    font-size: 20px;
  }
}


@media ( max-width: 480px ) {
  #app {
    max-width: 100%;
  }
  h1 {
    font-size: 18px;
  }
}
